:root {
    /* Titulos */
    --fontZiseT: 2.2rem;
    --colorT: #464646;
    --interT: 25.83px;
    --FontWeightT: 700;

    /* Parrafo */
    --fontZiseP: 1.4rem;
    --colorP: #464646;
    --interP: 16.44px;
    --FontWeightP: 400;
}

body {
    background-color: #E5E5E5;
}

.titulo {
    font-size: var(--fontZiseT);
    color: var(--colorT);
    line-height: var(--interT);
    font-weight: var(--FontWeightT);
}

.subtitulo {
    font-size: var(--fontZiseT);
    color: var(--colorT);
    line-height: var(--interT);
    font-weight: var(--FontWeightT);
    text-align: center;
}

.parrafo {
    font-size: var(--fontZiseP);
    color: var(--colorP);
    line-height: var(--interP);
    font-weight: var(--FontWeightP);
    margin: 10px 0;
}

.card {
    width: 100%;
    height: 118px;
    background-color: white;
    margin: 12px 0;
    padding: 16px;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h3 {
    font-size: 1.6rem;
    margin: 8px 0;
}