:root {
    --BackSec: rgb(166, 213, 167);
}

.sobreMiContainer {
    background-color: var(--BackSec);
    padding: 16px;
}

@media (min-width: 760px) {
    .sobreMiContainer {
        padding: 32px;
    }
    .sobreMiContainer .parrafo {
        width: 790px;
    }
}

@media (min-width: 1440px) {
    .sobreMiContainer {
        padding: 64px;
    }
    .sobreMiContainer .parrafo {
        width: 80%;
    }
}